@use '../../style/abstract/mixin' as mixins;

.game-page {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5rem;
  height: 100%;

  .cards-wrapper {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: 0;
    padding: 1rem 0;

    &::-webkit-scrollbar {
      display: none;
    }

    * {
      flex-shrink: 0;
    }

    @include mixins.media-breakpoint('tablet-and-up') {
      width: auto;
    }
  }

  .selected-card-area {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3rem;
  }

  .button-area {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    position: absolute;
    right: 0;
    top: 2rem;
    min-width: 31rem;

    .button {
      padding: 1rem 2rem;
    }
  }

  .select-name-popup {
    .input {
      margin: 2.4rem 0;
    }
  }
}
